<button id="btn-viewJson" class="btn btn-primary  add-padding"><span class="glyphicon glyphicon-arrow-right"></span> Get JSON from Table</button>
 
<div id="json-input">
    <textarea id="txt-json-input" class="form-control" rows="20"></textarea>
</div>
