<div id="waiting-block" style="display:none" class="ajax-loader" >
    <p>
        Loading
    </p>
    <p>
        <img width="128" height="15" alt="" src="~/Content/themes/base/images/ajax-loader.gif" />
    </p>

</div>
